:root {
  --backgroundColor: #14161e;
  --colorGray: #999;
  --darkGray: #222222;
  --colorWhite: #fff;
  --colorBlack: black;
  --searchBoxBackgroundColor: #121212;
  --searchBoxBorder: #303030;
  --loginButtonBackgroundColor: #04a4f0;
  --loginButtonActiveBackgroundColor: #04a4f9;
  --signUpBackgroundColor: #b75379;
  --signUpActiveBackgroundColor: #a04969;
  --signInBackgroundColor: #0792d7;
  --userSearchFontColor: #d8d9cf;
  --detailInfoTitleFontColor: #3e4648;
  --fontWhite: #fff;
  --fontBlack: black;
  --fontGray: #999;
  --SignInSignUpTitleFontColor: #333;
  --ScroeFontColor: #6dc849;
}
